@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Neucha&family=Work+Sans:wght@300&display=swap');

.App {
  font-family: 'Work Sans';
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
